.img-crop-circles {
  display: flex;
  justify-content: center; /* Centre les images horizontalement */
  align-items: center; /* Centre les images verticalement si nécessaire */
  overflow-x: auto;
  gap: 5%;
  padding: 10px;
  scrollbar-color: #13c287 #222;
}

.img-crop-circles img {
  width: 300px; /* Largeur fixe pour toutes les images */
  height: 300px; /* Hauteur fixe pour toutes les images */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  flex-shrink: 0; 
}

.img-crop-circles::-webkit-scrollbar {
  height: 8px;
}

.img-crop-circles::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

.img-crop-circles::-webkit-scrollbar-track {
  background-color: #333;
}
