.evolution-slider {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  color: #f0f0f0;
  border-radius: 16px;
  scrollbar-color: #13c287 #222;

}


.slider-container1 {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.slide-evo {
  flex: 0 0 90%;
  scroll-snap-align: start;
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 1.5rem;
  /* Partie changer pour style alien */
  background-color: rgba(10, 14, 23, 0.8);
  border-radius: 10px;
  border: 1px solid #27fb6b;
  box-shadow: 0 0 30px rgba(39, 251, 107, 0.2);
}

.slide-evo h3 {
  font-size: 1.75rem;

  margin-bottom: 1rem;
  color: #ffffff;
  text-align: left;

}

.slide-evo p {
  font-size: 1rem;
  line-height: 1.6;
  color: #cccccc;
  margin-bottom: 1rem;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 30px;
  text-align: justify;
}

.slide-evo img {
  width: 100%;
  height: 400px;
  max-height: 500px;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}





.slider-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.evo-text .lien-evolution  {
  display: inline-block;
  background-color: #3f3f3f;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 30%;
}


.lien-evolution {
  background-color: #595959;
}

.slide-evo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.evo-img {
  flex: 1;
}

.evo-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.evo-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}