@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


.typesApparitions {
    padding: 2rem 1rem;
    background-color: #0a0a0a;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width:auto;
    scrollbar-color: #13c287 #222;
  }
  
 
  
  .horizontal-scroll-container {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    width: 100%;
  }
  
  .apparition-card {
    min-width: 280px;
    max-width: 320px;
    flex-shrink: 0;
    /* background: #1f1f1f; */
    padding: 1rem;
    border-radius: 12px;
    scroll-snap-align: start;
    /* Partie changée pour style alien */
    background-color: rgba(10, 14, 23, 0.8);
    border-radius: 10px;
    border: 1px solid #27fb6b;
    box-shadow: 0 0 30px rgba(39, 251, 107, 0.2);
  }
  
  .apparition-card h3 {
    font-family: Orbitron, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;    
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #13c287;
  }
  
  .apparition-card p {
    font-family: Orbitron, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;    
    font-size: 0.95rem;
    line-height: 1.4;
  }
  
  .apparition-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.8rem;
  }
  
  