@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


.horizontal-scroll-container {
  display: flex;
  overflow-x: hidden;        /* pour cacher le débordement horizontal */
  width: 100%;             /* prend toute la largeur de la fenêtre */
  height: 70vh;           /* hauteur plein écran pour permettre le scroll */
  gap: 1.5rem;

}

.apparition-card {
  flex: 0 0 100%;          /* chaque section fait 100% de la largeur du viewport */
  box-sizing: border-box;
  /* si tu veux un petit padding ou marge, ok, mais pense à ajuster le end() en JS */
  position: relative;
  overflow: hidden; /* Cache tout débordement des images */
  width: 100%; /* Assure que le conteneur occupe toute la largeur disponible */
  height: 70vh; /* Ajuste la hauteur automatiquement */
  border-radius: 12px; /* Ajoute des coins arrondis */
  align-items: center;
}

  
  /* remplace chaque slide */
  .apparition-card {
    flex: 0 0 40%;
    scroll-snap-align: start;
    background-color: rgba(10, 14, 23, 0.8);
    border-radius: 16px;
    padding: 1.5rem;
    /* Partie changée pour style alien */
    background-color: rgba(10, 14, 23, 0.8);
    border-radius: 10px;
    border: 1px solid #27fb6b;
    box-shadow: 0 0 30px rgba(39, 251, 107, 0.2);
    width: 50%;    
  }

.apparition-card img {
    max-width: 100%; /* L'image ne dépasse pas la largeur de son conteneur */
    max-height: 100%; /* L'image ne dépasse pas la hauteur de son conteneur */
    object-fit: cover; /* Ajuste l'image pour qu'elle s'adapte au conteneur sans déformation */
    border-radius: 12px; /* Ajoute des coins arrondis pour un meilleur style */
    display: inline-block; /* Évite les espaces blancs sous l'image */
    align-items: center;
    height: 300px;
    width: 600px;

}

/* optionnel : si ton body n’est pas assez long, force-le à être scrolable */
body {
  height: auto;
  overflow-x: hidden;
  background-color: rgb(17, 24, 39);

}



.typesApparitions {
  flex: 0 0 90%;
  scroll-snap-align: start;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
  height: 100%;
  background-color: rgb(17, 24, 39);
}


  .apparition-card h3 {
    font-family: Orbitron, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;    
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgb(39, 251, 107);
    align-items: center;


  }
  
  .apparition-card p {
    font-family: Orbitron, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;    
    font-size: 0.95rem;
    line-height: 1.4;
    align-items: center;


  }
  
  .apparition-card apparition-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.8rem;
    align-items: center;

  }
  